<!-- LISTAGEM  -->
<div class="container p-5" *ngIf="visibbilidadeTabela">
  <div class="border border-light rounded p-5" >
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="ExibirFormularioCadastro()">Nova Pessoa</button>
    <hr />
    <table class="table table-striped table-hover table-sm" *ngIf="pessoas">
      <thead class="thead-light">
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Idade</th>
          <th>Profissão</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.sobreNome}}</td>
          <td>{{pessoa.idade}}</td>
          <td>{{pessoa.profissao}}</td>
          <td>
            <button class="btn btn-sm btn-outline-info" (click)="ExibirFormularioAtualizacao(pessoa.pessoaid)">Atualizar</button>
            <button class="btn btn-sm btn-outline-danger" (click)="ExibirConfirmacaoExclusao(pessoa.pessoaid, pessoa.nome , conteudoModal)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- FORMULARIO SALVAR -->
<div class="container p-5" *ngIf="visibilidadeFormulario">
  <div class="row justify-content-center">
    <div class="col-md-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6>{{tituloFormulario}}</h6>
      <hr>
      <form [formGroup]="formulario" (ngSubmit)="EnviarFormulario()">
        <div class="form-group mb-3">
          <label for="nome">Nome</label>
          <input type="text" class="form-control form-control-sm" id="nome" formControlName="nome"/>
        </div>

        <div class="form-group mb-3">
          <label for="sobrenome">Sobrenome</label>
          <input type="text" class="form-control form-control-sm" id="sobrenome" formControlName="sobrenome"/>
        </div>

        <div class="form-group mb-3">
          <label for="idade">Idade</label>
          <input type="number" class="form-control form-control-sm" id="idade" formControlName="idade"/>
        </div>

        <div class="form-group mb-3">
          <label for="profissao">Profissão</label>
          <input type="text" class="form-control form-control-sm" id="profissao" formControlName="profissao"/>
        </div>

        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
          <button type="button" class="btn btn-sm btn-light" (click)="Voltar()">Voltar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<ng-template #conteudoModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirmação de Exclusão</h4>
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()"> -->
      <span aria-hidden="true">&times;</span>
    <!-- </button> -->
  </div>
  <div class="modal-body">
    Prosseguir com a exclusão do(a) {{nomePessoa}}
  </div>

  <div class="modal-footer">
      <!-- <button type="button" class="btn btn-light" (click)="modalRef?.hide()">Não</button> -->
      <button type="button" class="btn btn-outline-danger" (click)="ExcluirPessoa(pessoaid)">Sim</button>
  </div>
</ng-template>
